<!-- Header -->
<header class="fixed w-full h-[4rem] z-10">
  <div class="nav-wrap w-full">
    <div id="main-nav" class="backdrop-blur-md">
      <div class="container mx-auto">
        <div class="nav flex items-center justify-between py-6">
          <a href="#" id="logo" class="">
            <img src="assets/simon-groiss-logo.svg" class="w-[250px]" />
          </a>
          <nav>
            <ul class="flex gap-8 text-white text-lg">
              <li>
                <a class="" href="#about">about</a>
              </li>
              <li>
                <a class="" href="#projects">projects</a>
              </li>
              <li>
                <a class="" href="#contact">contact</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>
