---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Datenschutzerklärung">
  <main class="container mx-auto py-32 text-white flex-1">
    <h1 class="text-5xl mb-8">Datenschutzerklärung</h1>

    <p>
      Der Schutz deiner persönlichen Daten ist uns ein besonderes Anliegen. Wir
      verarbeiten deine Daten ausschließlich auf Grundlage der gesetzlichen
      Bestimmungen (DSGVO, TKG 2003).
    </p>

    <h2>Kontaktaufnahme</h2>
    <p>
      Wenn du per Formular oder E-Mail Kontakt aufnimmst, werden deine
      angegebenen Daten zwecks Bearbeitung der Anfrage gespeichert. Diese Daten
      geben wir nicht ohne deine Einwilligung weiter.
    </p>

    <h2>Cookies</h2>
    <p>
      Unsere Website verwendet funktionale Cookies. Sie richten keinen Schaden
      an.
    </p>

    <h2>Server-Logs</h2>
    <p>
      Der Hosting-Provider speichert IP-Adresse, Browser, Uhrzeit und
      aufgerufene Seiten. Diese Daten dienen nur der technischen Sicherheit.
    </p>

    <h2>Deine Rechte</h2>
    <p>
      Dir stehen grundsätzlich die Rechte auf Auskunft, Berichtigung, Löschung,
      Einschränkung, Datenübertragbarkeit und Widerspruch zu.
    </p>
  </main>
</Layout>
