---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Impressum">
  <main class="container mx-auto py-32 text-white flex-1">
    <h1 class="text-5xl mb-8">Impressum</h1>

    <p><strong>Angaben gemäß § 5 TMG / § 14 UGB:</strong></p>

    <p>
      Simon Groiss<br />
      Adresse einfügen<br />
      1010 Wien<br />
    </p>

    <p>
      E-Mail: <a href="mailto:info@example.com">info@example.com</a><br />
    </p>

    <h2>Haftungsausschluss</h2>

    <p>
      Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir keine Haftung für
      die Inhalte externer Links. Für den Inhalt der verlinkten Seiten sind
      ausschließlich deren Betreiber verantwortlich.
    </p>
  </main>
</Layout>
