<footer id="site-footer" class="w-full h-16 bg-black">
  <div class="container h-full mx-auto">
    <div class="flex items-center justify-between h-full">
      <p class="text-white text-sm uppercase">
        © {new Date().getFullYear()} Simon Groiss
      </p>

      <nav>
        <ul class="flex gap-4 text-white text-sm uppercase">
          <li><a href="/impressum">Impressum</a></li>
          <li><a href="/datenschutz">Datenschutz</a></li>
        </ul>
      </nav>
    </div>
  </div>
</footer>
