<header class="fixed w-full h-[16] z-10">
  <div class="nav-wrap w-full">
    <div id="main-nav" class="backdrop-blur-md">
      <div class="container mx-auto">
        <div class="nav flex items-baseline justify-between py-6">
          <a href="/" id="logo">
            <img
              src="/simon-groiss-logo.svg"
              alt="Simon Groiss Logo"
              class="w-[250px]"
              alt="Simon Groiss"
            />
          </a>
          <nav>
            <ul class="flex gap-8 text-white text-lg">
              <li><a href="#about" data-anchor-scroll="true">about</a></li>
              <li>
                <a href="#projects" data-anchor-scroll="true">projects</a>
              </li>
              <li><a href="#contact" data-anchor-scroll="true">contact</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>
