<section
  id="about"
  class="h-screen bg-sg-primary text-white opacity-[var(--dim)]"
  data-dim
>
  <div class="container h-full flex flex-col justify-between pt-48 pb-24">
    <h1 class="max-w-6xl text-7xl leading-[1.1]">
      Hi, ich bin Simon. Grafiker und Digital Creator, spezialisiert auf
      Branding, Webdesign und Development.
    </h1>

    <div class="flex justify-end w-full mt-8">
      <div class="relative flex">
        <video
          src="/videos/loop.mp4"
          preload="auto"
          autoplay
          loop
          muted
          playsinline
          class="max-h-[40vh] w-auto object-contain rounded-sm"></video>

        <a
          href="#projects"
          data-anchor-scroll="true"
          class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 bg-white/10 border border-white/20 backdrop-blur-sm text-white text-sm font-semibold px-6 py-2 rounded-full hover:bg-white/20 transition hover:scale-110"
        >
          PROJECTS
        </a>
      </div>
    </div>
  </div>
</section>
