<section
  id="projects"
  data-overlap-previous
  data-overlap-speed="0.6"
  class="h-screen bg-black flex flex-col"
>
  <div class="container text-white py-16">
    <div class="flex justify-between items-baseline w-full">
      <h2 class="text-5xl">Projects</h2>
      <a href="#" class="text-white underline text-lg"> View all </a>
    </div>
    <!-- Test Project -->
    <!--#include file="/components/project.html" -->
  </div>
</section>
